:root{
	/* --white: #FBFAF5; */
	--white: #ffffff;
	--linkHover: #0c0d0f;
	--linkColour: #24262b;
}

.container{
	max-width: 1170px;
	margin:auto;
	padding: 0 15px 0 15px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--white);
    padding: 30px 0;
}
.footerCol{
   width: 33.3%;
   /* padding: 0 0 0 15px; */
}
.footerCol h4{
	font-size: 18px;
	color: var(--linkColour);
	/* color: rgba(255,255,255,0.2); */
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footerCol h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footerCol ul li:not(:last-child){
	margin-bottom: 10px;
}
.footerCol ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: rgba(255,255,255,0.2);
	font-weight: 300;
	color: var(--linkColour);
	display: block;
	transition: all 0.3s ease;
	text-decoration: underline;  
	text-decoration-color: transparent;
}
.footerCol ul li a:hover{
	cursor: pointer;
	color: var(--linkHover);
	font-weight: 400;
	transform: translateX(8px); 
	text-decoration-color: var(--linkHover);
}
.footerCol .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: var(--white);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footerCol .social-links a:hover{
	color: var(--linkColour);
	background-color: #ffffff;
}

.madeBy{
	text-transform: capitalize;
	border-top: 1px solid var(--linkColour);
	font-weight: 200;
	font-size: small;
}

/*responsive*/
@media(max-width: 767px){
  .footerCol{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footerCol{
    width: 100%;
  }
  .container{
	padding: 0;
  }
}
